@import url("960gs/960.css");

/* http://www.levien.com/type/myfonts/inconsolata.html */
@font-face 
{
  font-family: "inconsolata";
  src: url("/fonts/Inconsolata.otf");
}                                    

@font-face
{
  font-family: "droid sans";
  src: url("/fonts/DroidSans.ttf");
}
@font-face
{
  font-family: "droid sans bold";
  src: url("/fonts/DroidSans-Bold.ttf");
}
body
{
  color:#333;
  font-family: helvetica, arial, sans-serif;
  font-size:87.5%;   /* 16px * 0.875 = 14px */
  line-height: 137.5%; /* 16px * 1.375  = 22px */
}
a
{
  text-decoration:none;
  border-bottom: solid 1px #3030a2;
}
a:hover
{  
  text-decoration:none;
  border-bottom: 0px;
}

a:visited{
  color: #000;
  border-bottom: solid 1px #ccc;
}

h1, h2, h3, h4, h5, h6
{
  color: #000;
}
h1, h2, h3
{
  font-family: "droid sans", helvetica, arial, sans-serif;
}

h4, h5, h6
{
  font-family: "droid sans bold", helvetica, arial, sans-serif;
}

h1
{
  font-size: 150.0%;
}
h2
{
  font-size:  137.5%;
}
h3 
{
  font-size: 125.0%;
}
h4
{
  font-size: 112.5%;
}
h5, h6{
  font-size: 100%;
}

pre,code
{
    font-family: "inconsolata", monospace;
    /* font-size: 1.142em; */
}

.noul
{
  border-bottom: 0px;
  text-decoration:none;
}

header, footer
{
  padding: 1em 0;
}


header h1{
  font-size:1.142em;
}

header h1 a, header h1 a:visited
{
  color:#a23030;
  text-decoration:none;
  border-bottom: none;
}

footer{
  border: solid 2px #900;
  margin-top:1em;
  border-top: solid 3px #ccc;
}
