<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{site.title}}</title>
  <meta name="author" content="Benjamin Boudreau">
  <meta name="description" content="This is a personal wiki where I put all kind of (code|stuff|ideas|theories|thoughts|images|fun stuff|geek stuff)">
  <meta name="keywords" content="wiki,development,java,php,javascript,css,html5,google,Benjamin Boudreau,dreur,benjamin,geek,grails,j2ee,tomcat,svn,startup,freelance,webdesign,css3,ajax,snippets,code,project,ideas,inspiration,fun">
  <!--[if IE]>
    <script src="/js/html5.js" />
  <![endif]-->
  <link rel="shortcut icon" href="http://bboudreau.ca/favicon.ico">
  <link rel="stylesheet" type="text/css" media="screen, projection" charset="utf-8" href="/css/screen.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" charset="utf-8" href="/css/pygments.css" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml" />
</head>
<body>
<div id="wrap" class="container_12">
<header class="grid_12 alpha omega">
{% if site.title %}
  <h1><a href="{{site.url}}">{{site.title}}</a></h1>
{% endif %}
</header>
<div class="clear"></div>
<section class="grid_8 alpha omega">
{{ content }}
</section>
<div class="clear"></div>
<footer>
<div class="grid_4 alpha">
  <p>
    {% if site.author %}{{site.author}} {% endif %}<br/>
     {% if site.email %}{{site.email}} {% endif %}<br/>
  </p>
</div>
<div class="grid_4">
  <p>
    <a href="http://twitter.com/">twitter.com</a><br />
  </p>
</div>
<div class="grid_4 omega">
  <a href="{{site.url}}/atom.xml" class="noul">
    <img src="/img/rss.png" alt="Subscribe to RSS Feed" />
  </a>
</div>
<script type="text/javascript">
var _gaq = [['_setAccount', "{{site.analytics_id}}"], ['_trackPageview']];
(function(d, t) {
    var g = d.createElement(t),
    s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
</script>
</footer>
<div class="clear"></div>
</div><!-- .container_12 -->
</body>
</html>
